/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,600&display=swap');
/*
! font-family: 'JetBrains Mono', monospace;
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    font-family: "JetBrains Mono", monospace;
    background-color: rgb(35, 35, 35);
    letter-spacing: 1px;
}

.container {
    max-width: 650px;
    margin: 50px auto;
}

p {
    font-weight: 300;
    line-height: 1.5;
    font-size: 14px;
    opacity: 0.865;
}

.timeline {
    position: relative;
    padding-left: 4rem;
    margin: 0 0 0 30px;
    color: #fff;
}

#fairWarning {
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 24px;
}

.timeline::before {
    content: "";
    width: 4px;
    height: 99%;
    position: absolute;
    background-color: rgb(22, 22, 22);
    left: 0;
    top: 15px;
}

.timeline .timelineBox {
    position: relative;
    margin-bottom: 2.5rem;
}

.timeline .timelineBox .statusText {
    position: absolute;
    left: -88px;
    top: 4px;
    width: 48px;
    height: 48px;
    background-color: transparent;
    border-radius: 50%;
    font-size: 14px;
    text-align: center;
}

.timeline .timelineBox .statusText b {
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline .timelineBox .timelineBody {
    background-color: rgb(16, 16, 16);
    border-radius: 2px;
    padding: 20px 18px 15px 20px;
    box-shadow: 1px 3px 9px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    transition: all 0.5s ease;
}

.timeline .timelineBox .timelineBody:hover {
    box-shadow: 1px 3px 10px rgba(95, 0, 255, 0.75);
}

.timeline .timelineBox .timelineBody::before {
    content: "";
    background-color: inherit;
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    left: -10px;
    transform: rotate(45deg);
    border-radius: 0 0 0 3px;
}

.timeline .timelineBox .timelineBody .header {
    margin-bottom: 1.2rem;
}

.timeline .timelineBox .timelineBody .header .badge {
    background-color: rgb(35, 45, 25);
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 3px;
    font-weight: 600;
}

.timeline .timelineBox .timelineBody .time {
    font-weight: 200;
    font-style: italic;
    opacity: 0.565;
    margin-top: 16px;
    font-size: 11px;
}

#primary .badge {
    background-color: rgb(95, 0, 255);
}

#success .badge {
    background-color: rgb(10, 130, 10);
}

#danger .badge {
    background-color: rgb(130, 10, 10);
}

#secondary .badge {
    background-color: rgb(35, 0, 255);
}

#warning .badge {
    background-color: rgb(170, 180, 15);
}

#info .badge {
    background-color: rgb(25, 120, 155);
}